<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

        <div class="guest">Guest</div>
        <div class="owner">Owner</div>
        <div class="guest_details">
            <div>MAKE A RESERVATION</div>
            <div class="form-group">
                <label for="reserveName">Name</label>
                <input type="text" class="form-control" id="reserveName" placeholder="Enter Your Name">
            </div>
        </div>

        <div id="menu_details">

            <div class="owner_details"></div>
        </div>


</body>
</html>